.row .col {
float: none;
}
.main_button{
    margin-top: 80px;
}
/* .main_button .btn .but_css{
    margin-right:20px;
    margin-left:20px;
} */

label{
    font-size: 20px !important;
    color: black !important;
}
.register{
margin-top: 25px;
display:none;
}
.login_css{
margin-top: 80px;
margin-left: 247px;
display: inline-block;
}
.login_css input{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding-right:100px;
}
.register input{
    margin-top: 5px !important;
    margin-bottom: 20px !important;
    padding-right:100px;
}
.left,.right{
width:600px;
}
.left{
float:left;
margin-left: 200px;

}
.right{
margin-left: 200px;
float:left;
}
.but{
margin-top:10px;
float:right;
}
.main_page button{
    float: right;
    color: greenyellow;
}
.second_button{
    float: right;
}

@media screen and (max-width:992px){
    .second_button{
        float: right;
        padding-top: 10px;
    }
    .second_button label{
        font-size: 15px;
    }
    .login_css{
        display: inline;
    }

    .but{
        float: left;
        margin-bottom: 15px;
    }
    .left , .right{
        float:left;
        margin-left: 0px;
        }
        .left{
            margin-top: 25px;       
        }

        .register{
            margin-top: 0px;
            display:none;
            }

}