/* ================ */
/* All button css */
/* ================ */
.main_button{
    margin-top: 80px;
}
.main_page button{
    float: right;
    color: greenyellow;
}
.second_button{
    float: right;
}


/* validation error messege color */
.error {color: #FF0000;}
/*  */



/* ================ */
/* Login part css */
/* ================ */

.login_css{
margin-top: 80px;
margin-left: 247px;
display:flex;
}

/* ================ */
/* input form css */
/* ================ */
.login_css input{
    padding-right:100px;
}

/* ================ */
/* Design Register left and right part css */
/* ================ */
.register{
    margin-top: 80px;
    display:none;
    }
.left,.right{
width:300px;
}
.left{
float:left;
margin-left: 200px;

}
.right{
margin-left: 200px;
float:left;
}
.but{
margin-top:10px;
float:right;
}

img{
    margin-left: 400px;
}

/* ================ */
/* responsive design css */
/* ================ */
@media screen and (max-width:992px){
    .second_button{
        float: right;
        padding-top: 10px;
    }
    .second_button label{
        font-size: 15px;
    }
    .login_css{
        display: inline;
    }

    .but{
        float: left;
        margin-bottom: 15px;
    }
    .left , .right{
        float:left;
        margin-left: 0px;
        }
        .left{
            margin-top: 25px;       
        }

}