
/* ================ */
/* nav-bar css */
/* ================ */
.navbar{
    background-color: #fff !important;
}
/* ================ */
/* login-register button border css */
/* ================ */

.log_reg{

    border: 2px solid #000;
    border-radius: 5px;
}

/* ================ */
/* header css */
/* ================ */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 220px;
  }

/* heading */
.left{
  margin-top: -100px;
  margin-left: 100px;
}

h1{
  font-family: 'Balthazar', serif;
}

  /* image */
.right{
  margin-left: 300px;
}

/* map */
iframe{
  margin-bottom: 80px;
}

/* ================ */
/* contact css */
/* ================ */
  .contactus{
    background-color: #fbfbfb;
    margin-bottom: 100px;
  }
.contactus p{
  margin-top: 50px;
  font-weight: 600;
  font-size: large;
}
/* ================ */
/* footer css */
/* ================ */
  footer {
  text-align: center;
  height: 80px;
  background-color: #fff;
  color: black;
}
.footer p{
    padding-top: 25px;
}
/* ================ */
/* responsive design css */
/* ================ */
@media screen and (max-width:992px){
    .log_reg {
        padding-left: 5px;

    }
}