.navbar{
    background-color: #fff !important;
}
/* .navbar .navbar-brand{
    color: #fff !important;
}
.navbar .navbar-nav li a{
    color: #fff !important;
} */

.log_reg{

    border: 2px solid #000;
    border-radius: 5px;
}
